* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #root {
    width: 100%;
    background-image: url('../src/assets/main\ background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f0f0f0; 
} */