$primary-color: #287aad;
$background-light: #ffffff;
$text-color: #333;
$hover-color: #ffcc00;

.news-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.1);
    background-color: $background-light;
    border-bottom: 0.9px solid $primary-color;
    transition: box-shadow 0.3s ease;

    h2 {
        margin-bottom: 20px;
        font-size: 2em;
        color: $primary-color;
        text-align: center;
    }

    .select_option {
        width: 150px;
        border: 1px solid $primary-color;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 20px;
        outline: none;
        transition: border-color 0.3s;

        &:hover {
            border-color: $hover-color;
        }
    }

    .container_news_list {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;

        .news-article {
            padding: 15px;
            margin: 15px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            width: 100%;
            max-width: 500px;
            overflow: hidden;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
            }

            .news-header {
                h4 {
                    font-size: 1.5em;
                    color: $text-color;
                    margin-bottom: 10px;
                    transition: color 0.3s;

                    &:hover {
                        color: $hover-color; // Change color on hover
                    }
                }
            }

            .news-content {
                p {
                    font-size: 1em;
                    color: $text-color;
                    margin: 5px 0;
                }
            }

            .news-author,
            .news-date {
                p {
                    font-size: 0.9em;
                    color: $text-color;
                    margin: 0;
                }
            }
        }
    }

    .card_box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            margin-top: 30px;
            font-size: 1.2em;
            color: $primary-color;
        }

        .cardsContainer {
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .loading-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        margin: 20px 0;

        .loading {
            width: 30px;
            height: 30px;
        }
    }
}

@media (max-width: 768px) {
    .news-list {
        margin: 10px;
        box-shadow: none;

        h2 {
            font-size: 1.5em;
        }

        .container_news_list {
            .news-article {
                margin: 10px 0;
                max-width: 100%; // Make full width on small screens
            }
        }

        .card_box {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2 {
                margin-top: 30px;
                font-size: 1.1em;
                color: $primary-color;
            }

            .cardsContainer {
                display: flex;
                gap: 15px;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }
}