$primary-color: #0d476c;
$background-light: #ffffff;
$text-color: #333;
$hover-color: #ffcc00;

.news-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px 0;
    padding: 25px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: $primary-color;
   

    h2 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 15px;
        color: white;
    }

    .news_content_box {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        text-decoration: none;

        .news-article {
            width: 400px;
            padding: 20px;
            margin: 10px 30px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            background-color: $background-light;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            position: relative;
            overflow: hidden;

            .news-title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h4 {
                    text-align: left;
                    font-size: 17px;
                    margin-bottom: 10px;
                    color: $text-color;
                }
            }

            .news-content {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h4 {
                    text-align: left;
                    font-size: 16px;
                    margin-bottom: 10px;
                    color: $text-color;
                }
            }

            .news-author {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h4 {
                    text-align: left;
                    font-size: 15px;
                    margin-bottom: 10px;
                    color: $text-color;
                }
            }

            .news-date {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h4 {
                    text-align: left;
                    font-size: 14px;
                    margin-bottom: 10px;
                    color: $text-color;
                }
            }

            .news-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h4 {
                    text-align: left;
                    font-size: 18px;
                    margin-bottom: 10px;
                    color: $text-color;
                }
            }

            p {
                text-align: left;
                font-size: 14px;
                color: $text-color;
            }

            .news-icon-container {
                position: absolute;
                left: -70px;
                bottom: 0;
                width: 40px;
                height: 40px;
                opacity: 0;
                transition: left 0.3s ease, opacity 0.3s ease;


                .news-icon {
                    font-size: 24px;
                    color: black;
                    background-color: white;
                    border: 50px;
                    padding: 5px;
                }
            }

            &:hover {
                transform: scale(1.03);
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

                .news-icon-container {
                    opacity: 1;
                    /* Make icon visible */
                    left: 20px;
                    /* Slide the icon to the right */
                }
            }
        }
    }
}