.whyus_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    // background-color: #f8f9fa;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px auto;
    width: 90%;

    @media (min-width: 768px) {
        flex-direction: row;
        width: 100%;
    }

    .text_section {
        max-width: 100%;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInUp 0.8s forwards;
        margin-bottom: 20px;
        position: relative;
        margin: 0 5px;

        @media (min-width: 768px) {
            max-width: 60%;
            margin-bottom: 0;

            &::before {
                // Büyük ekranlarda arka planı kaldır
                content: none;
                opacity: 0;
                display: none;
            }
        }

       
    }

    .image_section {
        max-width: 100%;
        display: flex; // Küçük ekranlarda gizli
        justify-content: center;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInUp 0.8s forwards;
        animation-delay: 0.5s;

        @media (min-width: 768px) {
            display: flex; // Büyük ekranlarda göster
        }

        .icon {
            width: 100%;
            height: auto;
            max-width: 300px;
        }
    }

    h2 {
        font-size: 24px;
        color: white;
        margin-bottom: 10px;
        text-align: center; // Metni ortala
        background-color: #3385b8;
        padding: 5px 0;
        border-radius: 50px;
        width: auto;
    }

    p {
        font-size: 16px;
        color: black;
        line-height: 1.5;
        margin-bottom: 10px;
        opacity: 0;
        animation: fadeIn 0.5s forwards;
        animation-delay: 0.5s;
        text-align: start; // Metni yasla
        font-style: oblique;

    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}